# PRINT

In [1]:
print("Hello Muniba")

Hello Muniba

In [4]:
#Type function refers the type of variable weather it is string , integer or float.
name1 = 'Mariyam'
name2 =  123
name3 =  789.89
print (type(name1))
print (type(name2))
print (type(name3))

<class 'str'>
<class 'int'>
<class 'float'>

# OVERIDE

In [5]:
# old message will get over-ride by the new one.
name = 'Mariyam'
name = 'Muniba'
print (name)

Muniba

In [6]:
message = "fariha"
print(message)
message = 123
print(message)

fariha
123

# TITLE CASE

What is title case in python

Python String Title method.
Title function in python is the Python String Method which is used to convert the first character
in each word to Uppercase and remaining characters to Lowercase in string and returns new string. ...
str.Title()
parameters:str is a valid string which we need to convert

In [5]:
name = 'Muniba'
name.title()

'Muniba'

# UPPER CASE

In [ ]:
What is upper case in python

In Python, upper() is a built-in method used for string handling.
The upper() methods returns the uppercased string from the given string.
It converts all lowercase characters to uppercase.
If no lowercase characters exist, it returns the original string.

In [7]:
name = 'Muniba'
name.upper()

'MUNIBA'

# LOWER CASE

# What is lower case in python?

In Python, lower() is a built-in method used for string handling.
The lower() methods returns the lowercased string from the given string.
It converts all uppercase characters to lowercase. If no uppercase characters exist, it returns the original string.

In [8]:
name = 'Muniba'
name.lower()

'muniba'

# TITLE, UPPER, LOWER

In [9]:
name = 'Muniba'
print(name.title())
print(name.upper())
print(name.lower())

Muniba
MUNIBA
muniba

# VARIABLE FOR NUMBER

In [12]:
Num = 789
print(Num)

789

# Add number to a varibale

In [13]:
Number = 987
print(Number + 654)

1641

# Adding variable number together

In [16]:
#Note: While adding numbers , if one number will be float the output will be float.
num1 = 78
num2 = 87.0
num3 = 56
sum = num1+num2+num3
print(sum)

221.0

Perform some mathematics operations on variables.

In [17]:
num1 = 5
num2 = 4
num3 = 2
num4 = 7
num5 = 6
num6 = 10
total = (num1 * num2) + (num3 * num4) - num6 
print(total)

24

# Type Casting

In [18]:
num1 = 21
num2 = 78.8
print(int(num1+num2))

99

In [21]:
# int to string
age = 19
message1 = 'Happy' +age+'Birthday'
#It must be show error because integer and string can never be concatenate with each other.
# To come out from this error we have to type cast "age" into string.
#for eg:
# message = "Happy" + str(age) + "rd Birthday!"
print(message1)

TypeError: can only concatenate str (not "int") to str

In [27]:
age = 19
message = " HAPPY "+str(age)+"th BIRTHDAY "
print(message)

 HAPPY 19th BIRTHDAY

# Concatenation Text String

In [32]:
First_Name = "Muniba"
Middle_Name = "Javaid"
Last_Name = "Khan"
Full_Name = First_Name +"  "+ Middle_Name +" "+ Last_Name 
print(Full_Name)
print(Full_Name.title())
print(Full_Name.upper())
print(Full_Name.lower())

Muniba  Javaid Khan
Muniba  Javaid Khan
MUNIBA  JAVAID KHAN
muniba  javaid khan

In [33]:
F_name =  'Harley'
L_name = 'Davidson'
Full_name = F_name + " " + L_name
print("I love to ride " + str(Full_name) + " .. ")

I love to ride Harley Davidson ..

# Math expression Unfamililar Operators

Increment

In [36]:
age = 19
age = age + 1
print(age)

20

In [38]:
age = 19
age += 1
print(age)

20

Decrement

In [39]:
age = 20
age = age - 1
print(age)

19

In [40]:
age = 20
age -= 1
print(age)

19

Module

In [48]:
age = 16
age %= 5
print(age)

1

Make a program that takes input from the user, and let us know whether the number is even or add...

In [51]:
# checking the condition
#if the reminder will be equal to zero , so the number will be even , else number will be odd.....
Number = int(input("Enter your Number: "))
if Number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter your Number: 10
Number is even

# Math expressions: Eliminating ambiguity

Ambiguity

In [52]:
c = 3 * 98 + 78
c

372

In [53]:
d = (60 / 70) + 89
d

89.85714285714286

# List

What is list in python?

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.
Each element or value that is inside of a list is called an item.
Just as strings are defined as characters between quotes, lists are defined by having values between square brackets []

In [56]:
daily_routin = ['Wakeup','Prayer','Recite Quran','College Work','Prepare Iftari']
#index          0         1           2               3               4
print(daily_routin)

['Wakeup', 'Prayer', 'Recite Quran', 'College Work', 'Prepare Iftari']

In [57]:
daily_routin = ['Wakeup','Prayer','Recite Quran','College Work','Prepare Iftari']
print(daily_routin[0])
print(daily_routin[3])

Wakeup
College Work

Apply Title and Upper case on the element of the list , through indexing.....

In [61]:
daily_routin = ['Wakeup','Prayer','Recite Quran','College Work','Prepare Iftari']
print(daily_routin[3].upper())
print(daily_routin[4].lower())

COLLEGE WORK
prepare iftari

# Negative Indexing

In [65]:
daily_routin = ['Wakeup','Prayer','Recite Quran','College Work','Prepare Iftari']
print(daily_routin[-4])
print(daily_routin[-5])

Prayer
Wakeup

Concatenate string with element of the list

In [76]:
daily_routin = ['Wakeup','Prayer','Recite Holy Quran','College Work','Prepare Iftari']
message = "My favorite daily routin to perfom "+daily_routin[-4].upper()+" and to "+daily_routin[-3].upper()+"."
print(message)

My favorite daily routin to perfom PRAYER and to RECITE HOLY QURAN.

# Concatenate string with element of the list