# Reading and Writing Data in Text Format

In [1]:
#Parsing function in pandas

In [3]:
import pandas as pd
import numpy as np

In [4]:
test_1 = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\file2.txt')
test_1

   emp_id emp_name  age      department  joining
0       1     aqsa   25              AI  9-10-19
1       2   fatima   20           CS&SE   8-9-18
2       3     zara   18  social-science   7-9-17
3       4    samra   15        commerce   7-9-19

In [6]:
test_1.describe()

         emp_id        age
count  4.000000   4.000000
mean   2.500000  19.500000
std    1.290994   4.203173
min    1.000000  15.000000
25%    1.750000  17.250000
50%    2.500000  19.000000
75%    3.250000  21.250000
max    4.000000  25.000000

In [7]:
#clipboard

In [9]:
x = pd.read_clipboard()

In [10]:
x

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [14]:
x = pd.read_excel(r'C:\Users\Dell\.ipynb_checkpoints\excel.XLSX ')

In [15]:
x

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [28]:
z = pd.read_html(r'C:\Users\Dell\.ipynb_checkpoints\first.html ')

In [29]:
z

[     Name  Age
 0    Inam   42
 1  fayyas   22,           Shop      Address
 0  Ali mobiles        Sadar
 1        Chase  Bahadurabad]

In [30]:
z[0]

     Name  Age
0    Inam   42
1  fayyas   22

In [33]:
z[1]

          Shop      Address
0  Ali mobiles        Sadar
1        Chase  Bahadurabad

In [31]:
z[0].describe()

             Age
count   2.000000
mean   32.000000
std    14.142136
min    22.000000
25%    27.000000
50%    32.000000
75%    37.000000
max    42.000000

In [22]:
z[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
Name    2 non-null object
Age     2 non-null int64
dtypes: int64(1), object(1)
memory usage: 112.0+ bytes

In [35]:
#read_pickle(dataserialization concept)

In [37]:
test_1 = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\file1.txt')
test_1

        0    1       2        3       4
0    name  age  f.name  address   phone
1    asad   20    khan     abcd  123456
2  fayyaz   20  farooq     abcd   23445

In [38]:
test_1 = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\file1.txt', header=None)
test_1

        0    1       2        3       4
0    name  age  f.name  address   phone
1    asad   20    khan     abcd  123456
2  fayyaz   20  farooq     abcd   23445

In [41]:
test_1 = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\file1.txt', header=None , names=['name', 'age', 'f.name', 'address', 'phone'] ,index_col='phone')
test_1

          name  age  f.name  address
phone
phone     name  age  f.name  address
123456    asad   20    khan     abcd
23445   fayyaz   20  farooq     abcd

In [44]:
#check missing value
pd.isnull(test_1)

         name    age  f.name  address
phone
phone   False  False   False    False
123456  False  False   False    False
23445   False  False   False    False

In [42]:
#Regular Expression
#Jis ke through string pas kar raha hota
#or verify kar raha hota hai

In [52]:
test_1 = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\file2.txt', na_values = {'age':['*'],'department':['-']})
test_1

   emp_id emp_name   age department  joining_day  joining_month
0       1     aqsa  25.0         AI            9              4
1       2   fatima  20.0        NaN            8             19
2       3     zara  18.0        NaN            9              6
3       4    samra   NaN        NaN            4              4

In [54]:
import datetime

In [55]:
test_1 = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\file2.txt', parse_dates = [['joining_month','joining_day']])
test_1

  joining_month_joining_day  emp_id emp_name age department
0                      04 9       1     aqsa  25         AI
1                      19 8       2   fatima  20          -
2                     06 09       3     zara  18          -
3                     04 04       4    samra   *        NaN

In [62]:
variable = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\dataset\train.csv')
variable

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [66]:
chunker = pd.read_csv(r'C:\Users\Dell\.ipynb_checkpoints\dataset\train.csv', chunksize=200)

In [67]:
chunker

In [68]:
for rec in chunker:
    print(rec)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
170          171         0       1
171          172         0       3
172          173         1       3
173          174         0       3
174          175         0       1
175          176         0       3
176          177         0       3
177          178         0       1
178          179         0       2
179          180         0       3
180          181         0       3
181          182         0       2
182          183         0       3
183          184         1       2
184          185         1       3
185          186         0       1
186          187         1       3
187          188         1       1
188          189         0       3
189          190         0       3
190          191         1       2
191          192         0       2
192          193         1       3
193          194         1       2
194          195         1       1
195          196         1       1
196          197         0       3
197          198         0       3
198          199         1       3
199          200         0       2

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
170                          Van der hoef, Mr. Wyckoff    male  61.0      0
171                               Rice, Master. Arthur    male   4.0      4
172                       Johnson, Miss. Eleanor Ileen  female   1.0      1
173                          Sivola, Mr. Antti Wilhelm    male  21.0      0
174                            Smith, Mr. James Clinch    male  56.0      0
175                             Klasen, Mr. Klas Albin    male  18.0      1
176                      Lefebre, Master. Henry Forbes    male   NaN      3
177                         Isham, Miss. Ann Elizabeth  female  50.0      0
178                                 Hale, Mr. Reginald    male  30.0      0
179                                Leonard, Mr. Lionel    male  36.0      0
180                       Sage, Miss. Constance Gladys  female   NaN      8
181                                   Pernot, Mr. Rene    male   NaN      0
182              Asplund, Master. Clarence Gustaf Hugo    male   9.0      4
183                          Becker, Master. Richard F    male   1.0      2
184                Kink-Heilmann, Miss. Luise Gretchen  female   4.0      0
185                              Rood, Mr. Hugh Roscoe    male   NaN      0
186    O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)  female   NaN      1
187      Romaine, Mr. Charles Hallace ("Mr C Rolmane")    male  45.0      0
188                                   Bourke, Mr. John    male  40.0      1
189                                Turcin, Mr. Stjepan    male  36.0      0
190                                Pinsky, Mrs. (Rosa)  female  32.0      0
191                              Carbines, Mr. William    male  19.0      0
192    Andersen-Jensen, Miss. Carla Christine Nielsine  female  19.0      1
193                         Navratil, Master. Michel M    male   3.0      1
194          Brown, Mrs. James Joseph (Margaret Tobin)  female  44.0      0
195                               Lurette, Miss. Elise  female  58.0      0
196                                Mernagh, Mr. Robert    male   NaN      0
197                   Olsen, Mr. Karl Siegwart Andreas    male  42.0      0
198                   Madigan, Miss. Margaret "Maggie"  female   NaN      0
199             Yrois, Miss. Henriette ("Mrs Harbeck")  female  24.0      0

     Parch             Ticket      Fare        Cabin Embarked
0        0          A/5 21171    7.2500          NaN        S
1        0           PC 17599   71.2833          C85        C
2        0   STON/O2. 3101282    7.9250          NaN        S
3        0             113803   53.1000         C123        S
4        0             373450    8.0500          NaN        S
5        0             330877    8.4583          NaN        Q
6        0              17463   51.8625          E46        S
7        1             349909   21.0750          NaN        S
8        2             347742   11.1333          NaN        S
9        0             237736   30.0708          NaN        C
10       1            PP 9549   16.7000           G6        S
11       0             113783   26.5500         C103        S
12       0          A/5. 2151    8.0500          NaN        S
13       5             347082   31.2750          NaN        S
14       0             350406    7.8542          NaN        S
15       0             248706   16.0000          NaN        S
16       1             382652   29.1250          NaN        Q
17       0             244373   13.0000          NaN        S
18       0             345763   18.0000          NaN        S
19       0               2649    7.2250          NaN        C
20       0             239865   26.0000          NaN        S
21       0             248698   13.0000          D56        S
22       0             330923    8.0292          NaN        Q
23       0             113788   35.5000           A6        S
24       1             349909   21.0750          NaN        S
25       5             347077   31.3875          NaN        S
26       0               2631    7.2250          NaN        C
27       2              19950  263.0000  C23 C25 C27        S
28       0             330959    7.8792          NaN        Q
29       0             349216    7.8958          NaN        S
..     ...                ...       ...          ...      ...
170      0             111240   33.5000          B19        S
171      1             382652   29.1250          NaN        Q
172      1             347742   11.1333          NaN        S
173      0  STON/O 2. 3101280    7.9250          NaN        S
174      0              17764   30.6958           A7        C
175      1             350404    7.8542          NaN        S
176      1               4133   25.4667          NaN        S
177      0           PC 17595   28.7125          C49        C
178      0             250653   13.0000          NaN        S
179      0               LINE    0.0000          NaN        S
180      2           CA. 2343   69.5500          NaN        S
181      0      SC/PARIS 2131   15.0500          NaN        C
182      2             347077   31.3875          NaN        S
183      1             230136   39.0000           F4        S
184      2             315153   22.0250          NaN        S
185      0             113767   50.0000          A32        S
186      0             370365   15.5000          NaN        Q
187      0             111428   26.5500          NaN        S
188      1             364849   15.5000          NaN        Q
189      0             349247    7.8958          NaN        S
190      0             234604   13.0000          NaN        S
191      0              28424   13.0000          NaN        S
192      0             350046    7.8542          NaN        S
193      1             230080   26.0000           F2        S
194      0           PC 17610   27.7208           B4        C
195      0           PC 17569  146.5208          B80        C
196      0             368703    7.7500          NaN        Q
197      1               4579    8.4042          NaN        S
198      0             370370    7.7500          NaN        Q
199      0             248747   13.0000          NaN        S

[200 rows x 12 columns]
     PassengerId  Survived  Pclass  \
200          201         0       3
201          202         0       3
202          203         0       3
203          204         0       3
204          205         1       3
205          206         0       3
206          207         0       3
207          208         1       3
208          209         1       3
209          210         1       1
210          211         0       3
211          212         1       2
212          213         0       3
213          214         0       2
214          215         0       3
215          216         1       1
216          217         1       3
217          218         0       2
218          219         1       1
219          220         0       2
220          221         1       3
221          222         0       2
222          223         0       3
223          224         0       3
224          225         1       1
225          226         0       3
226          227         1       2
227          228         0       3
228          229         0       2
229          230         0       3
..           ...       ...     ...
370          371         1       1
371          372         0       3
372          373         0       3
373          374         0       1
374          375         0       3
375          376         1       1
376          377         1       3
377          378         0       1
378          379         0       3
379          380         0       3
380          381         1       1
381          382         1       3
382          383         0       3
383          384         1       1
384          385         0       3
385          386         0       2
386          387         0       3
387          388         1       2
388          389         0       3
389          390         1       2
390          391         1       1
391          392         1       3
392          393         0       3
393          394         1       1
394          395         1       3
395          396         0       3
396          397         0       3
397          398         0       2
398          399         0       2
399          400         1       2

                                                  Name     Sex   Age  SibSp  \
200                     Vande Walle, Mr. Nestor Cyriel    male  28.0      0
201                                Sage, Mr. Frederick    male   NaN      8
202                         Johanson, Mr. Jakob Alfred    male  34.0      0
203                               Youseff, Mr. Gerious    male  45.5      0
204                           Cohen, Mr. Gurshon "Gus"    male  18.0      0
205                         Strom, Miss. Telma Matilda  female   2.0      0
206                         Backstrom, Mr. Karl Alfred    male  32.0      1
207                        Albimona, Mr. Nassef Cassem    male  26.0      0
208                          Carr, Miss. Helen "Ellen"  female  16.0      0
209                                   Blank, Mr. Henry    male  40.0      0
210                                     Ali, Mr. Ahmed    male  24.0      0
211                         Cameron, Miss. Clear Annie  female  35.0      0
212                             Perkin, Mr. John Henry    male  22.0      0
213                        Givard, Mr. Hans Kristensen    male  30.0      0
214                                Kiernan, Mr. Philip    male   NaN      1
215                            Newell, Miss. Madeleine  female  31.0      1
216                             Honkanen, Miss. Eliina  female  27.0      0
217                       Jacobsohn, Mr. Sidney Samuel    male  42.0      1
218                              Bazzani, Miss. Albina  female  32.0      0
219                                 Harris, Mr. Walter    male  30.0      0
220                     Sunderland, Mr. Victor Francis    male  16.0      0
221                               Bracken, Mr. James H    male  27.0      0
222                            Green, Mr. George Henry    male  51.0      0
223                               Nenkoff, Mr. Christo    male   NaN      0
224                       Hoyt, Mr. Frederick Maxfield    male  38.0      1
225                       Berglund, Mr. Karl Ivar Sven    male  22.0      0
226                          Mellors, Mr. William John    male  19.0      0
227                    Lovell, Mr. John Hall ("Henry")    male  20.5      0
228                          Fahlstrom, Mr. Arne Jonas    male  18.0      0
229                            Lefebre, Miss. Mathilde  female   NaN      3
..                                                 ...     ...   ...    ...
370                        Harder, Mr. George Achilles    male  25.0      1
371                          Wiklund, Mr. Jakob Alfred    male  18.0      1
372                         Beavan, Mr. William Thomas    male  19.0      0
373                                Ringhini, Mr. Sante    male  22.0      0
374                         Palsson, Miss. Stina Viola  female   3.0      3
375              Meyer, Mrs. Edgar Joseph (Leila Saks)  female   NaN      1
376                    Landergren, Miss. Aurora Adelia  female  22.0      0
377                          Widener, Mr. Harry Elkins    male  27.0      0
378                                Betros, Mr. Tannous    male  20.0      0
379                        Gustafsson, Mr. Karl Gideon    male  19.0      0
380                              Bidois, Miss. Rosalie  female  42.0      0
381                        Nakid, Miss. Maria ("Mary")  female   1.0      0
382                                 Tikkanen, Mr. Juho    male  32.0      0
383  Holverson, Mrs. Alexander Oskar (Mary Aline To...  female  35.0      1
384                             Plotcharsky, Mr. Vasil    male   NaN      0
385                          Davies, Mr. Charles Henry    male  18.0      0
386                    Goodwin, Master. Sidney Leonard    male   1.0      5
387                                   Buss, Miss. Kate  female  36.0      0
388                               Sadlier, Mr. Matthew    male   NaN      0
389                              Lehmann, Miss. Bertha  female  17.0      0
390                         Carter, Mr. William Ernest    male  36.0      1
391                             Jansson, Mr. Carl Olof    male  21.0      0
392                       Gustafsson, Mr. Johan Birger    male  28.0      2
393                             Newell, Miss. Marjorie  female  23.0      1
394  Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...  female  24.0      0
395                                Johansson, Mr. Erik    male  22.0      0
396                                Olsson, Miss. Elina  female  31.0      0
397                            McKane, Mr. Peter David    male  46.0      0
398                                   Pain, Dr. Alfred    male  23.0      0
399                   Trout, Mrs. William H (Jessie L)  female  28.0      0

     Parch              Ticket      Fare    Cabin Embarked
200      0              345770    9.5000      NaN        S
201      2            CA. 2343   69.5500      NaN        S
202      0             3101264    6.4958      NaN        S
203      0                2628    7.2250      NaN        C
204      0            A/5 3540    8.0500      NaN        S
205      1              347054   10.4625       G6        S
206      0             3101278   15.8500      NaN        S
207      0                2699   18.7875      NaN        C
208      0              367231    7.7500      NaN        Q
209      0              112277   31.0000      A31        C
210      0  SOTON/O.Q. 3101311    7.0500      NaN        S
211      0        F.C.C. 13528   21.0000      NaN        S
212      0           A/5 21174    7.2500      NaN        S
213      0              250646   13.0000      NaN        S
214      0              367229    7.7500      NaN        Q
215      0               35273  113.2750      D36        C
216      0    STON/O2. 3101283    7.9250      NaN        S
217      0              243847   27.0000      NaN        S
218      0               11813   76.2917      D15        C
219      0           W/C 14208   10.5000      NaN        S
220      0     SOTON/OQ 392089    8.0500      NaN        S
221      0              220367   13.0000      NaN        S
222      0               21440    8.0500      NaN        S
223      0              349234    7.8958      NaN        S
224      0               19943   90.0000      C93        S
225      0             PP 4348    9.3500      NaN        S
226      0           SW/PP 751   10.5000      NaN        S
227      0           A/5 21173    7.2500      NaN        S
228      0              236171   13.0000      NaN        S
229      1                4133   25.4667      NaN        S
..     ...                 ...       ...      ...      ...
370      0               11765   55.4417      E50        C
371      0             3101267    6.4958      NaN        S
372      0              323951    8.0500      NaN        S
373      0            PC 17760  135.6333      NaN        C
374      1              349909   21.0750      NaN        S
375      0            PC 17604   82.1708      NaN        C
376      0              C 7077    7.2500      NaN        S

In [76]:
obj = {"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": 'null',
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
 {"name": "Katie", "age": 38,
 "pets": ["Sixes", "Stache", "Cisco"]}]
}

In [77]:
obj

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': 'null',
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [80]:
siblings = pd.DataFrame(obj['siblings'], columns=['name', 'age'])

In [81]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [82]:
x.to_pickle('data2.bin')

In [83]:
x

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [85]:
import requests

In [86]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [87]:
resp = requests.get(url)

In [89]:
data = resp.json()

In [90]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29381',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29381/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29381/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29381/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29381',
  'id': 516783350,
  'node_id': 'MDU6SXNzdWU1MTY3ODMzNTA=',
  'number': 29381,
  'title': 'MemoryError when using `.drop_duplicates()`',
  'user': {'login': 'Mikerah',
   'id': 4249799,
   'node_id': 'MDQ6VXNlcjQyNDk3OTk=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/4249799?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Mikerah',
   'html_url': 'https://github.com/Mikerah',
   'followers_url': 'https://api.github.com/users/Mikerah/followers',
   'following_url': 'https://api.github.com/users/Mikerah/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Mikerah/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Mikerah/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Mikerah/subscriptions',
   'organizations_url': 'https://api.github.com/users/Mikerah/orgs',
   'repos_url': 'https://api.github.com/users/Mikerah/repos',
   'events_url': 'https://api.github.com/users/Mikerah/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Mikerah/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-11-03T05:26:31Z',
  'updated_at': '2019-11-03T05:26:31Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\nCalling `.drop_duplicates()` on a large dataframe say of over 1 million rows with sufficient duplicate values should suffice\r\n#### Problem description\r\nI have a very large data frame object ( a little less than 10 million rows). It has 5 columns, most of which at this time are empty. However, for the non-empty columns, there are duplicate values. I have used both `drop_duplicates` and `duplicated` to attempt removing these duplicates. For every variation of these methods, I always get a `MemoryError`. I am running pandas in a jupyter notebook using Python3 on an AWS instance. The AWS instance has 16 GB of RAM.\r\n\r\nHow can I solve this issue?\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 4.14.146-120.181.amzn2.x86_64\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_US.UTF-8\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 0.25.1\r\nnumpy            : 1.17.2\r\npytz             : 2019.2\r\ndateutil         : 2.8.0\r\npip              : 9.0.3\r\nsetuptools       : 38.4.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.10.1\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : None\r\nmatplotlib       : 3.1.1\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : 0.11.0\r\npyarrow          : None\r\npytables         : None\r\ns3fs             : None\r\nscipy            : None\r\nsqlalchemy       : None\r\ntables           : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nxlsxwriter       : None\r\n\r\n\r\n</details>\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29380',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29380/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29380/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29380/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29380',
  'id': 516780035,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1OTkxNzEx',
  'number': 29380,
  'title': 'CLN: Remove unused _isfinite, make_axis_dummies',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-11-03T04:35:44Z',
  'updated_at': '2019-11-03T04:35:44Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29380',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29380',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29380.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29380.patch'},
  'body': ''},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29379',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29379/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29379/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29379/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29379',
  'id': 516775958,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1OTg4Nzcx',
  'number': 29379,
  'title': 'Fixes typo',
  'user': {'login': 'saulshanabrook',
   'id': 1186124,
   'node_id': 'MDQ6VXNlcjExODYxMjQ=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/1186124?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/saulshanabrook',
   'html_url': 'https://github.com/saulshanabrook',
   'followers_url': 'https://api.github.com/users/saulshanabrook/followers',
   'following_url': 'https://api.github.com/users/saulshanabrook/following{/other_user}',
   'gists_url': 'https://api.github.com/users/saulshanabrook/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/saulshanabrook/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/saulshanabrook/subscriptions',
   'organizations_url': 'https://api.github.com/users/saulshanabrook/orgs',
   'repos_url': 'https://api.github.com/users/saulshanabrook/repos',
   'events_url': 'https://api.github.com/users/saulshanabrook/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/saulshanabrook/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-11-03T03:33:15Z',
  'updated_at': '2019-11-03T03:33:15Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29379',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29379',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29379.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29379.patch'},
  'body': ''},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29378',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29378/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29378/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29378/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29378',
  'id': 516764081,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1OTgwNTI0',
  'number': 29378,
  'title': 'TST: new test for incorrect series assignment',
  'user': {'login': 'ganevgv',
   'id': 17522184,
   'node_id': 'MDQ6VXNlcjE3NTIyMTg0',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/17522184?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ganevgv',
   'html_url': 'https://github.com/ganevgv',
   'followers_url': 'https://api.github.com/users/ganevgv/followers',
   'following_url': 'https://api.github.com/users/ganevgv/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ganevgv/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ganevgv/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ganevgv/subscriptions',
   'organizations_url': 'https://api.github.com/users/ganevgv/orgs',
   'repos_url': 'https://api.github.com/users/ganevgv/repos',
   'events_url': 'https://api.github.com/users/ganevgv/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ganevgv/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-11-03T00:41:52Z',
  'updated_at': '2019-11-03T00:41:52Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29378',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29378',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29378.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29378.patch'},
  'body': '- [x] closes #14525\r\n- [x] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [x] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29377',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29377/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29377/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29377/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29377',
  'id': 516726661,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1OTQ3OTM4',
  'number': 29377,
  'title': 'CLN: deprivatize factorize_from_iterable',
  'user': {'login': 'topper-123',
   'id': 26364415,
   'node_id': 'MDQ6VXNlcjI2MzY0NDE1',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/26364415?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/topper-123',
   'html_url': 'https://github.com/topper-123',
   'followers_url': 'https://api.github.com/users/topper-123/followers',
   'following_url': 'https://api.github.com/users/topper-123/following{/other_user}',
   'gists_url': 'https://api.github.com/users/topper-123/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/topper-123/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/topper-123/subscriptions',
   'organizations_url': 'https://api.github.com/users/topper-123/orgs',
   'repos_url': 'https://api.github.com/users/topper-123/repos',
   'events_url': 'https://api.github.com/users/topper-123/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/topper-123/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 211029535,
    'node_id': 'MDU6TGFiZWwyMTEwMjk1MzU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean',
    'name': 'Clean',
    'color': '207de5',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/16',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/16',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/16/labels',
   'id': 174211,
   'node_id': 'MDk6TWlsZXN0b25lMTc0MjEx',
   'number': 16,
   'title': '1.0',
   'description': '',
   'creator': {'login': 'wesm',
    'id': 329591,
    'node_id': 'MDQ6VXNlcjMyOTU5MQ==',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/329591?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/wesm',
    'html_url': 'https://github.com/wesm',
    'followers_url': 'https://api.github.com/users/wesm/followers',
    'following_url': 'https://api.github.com/users/wesm/following{/other_user}',
    'gists_url': 'https://api.github.com/users/wesm/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/wesm/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/wesm/subscriptions',
    'organizations_url': 'https://api.github.com/users/wesm/orgs',
    'repos_url': 'https://api.github.com/users/wesm/repos',
    'events_url': 'https://api.github.com/users/wesm/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/wesm/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 148,
   'closed_issues': 825,
   'state': 'open',
   'created_at': '2012-09-13T02:13:00Z',
   'updated_at': '2019-11-03T01:57:00Z',
   'due_on': '2019-12-01T08:00:00Z',
   'closed_at': None},
  'comments': 4,
  'created_at': '2019-11-02T21:26:57Z',
  'updated_at': '2019-11-03T00:19:27Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29377',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29377',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29377.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29377.patch'},
  'body': 'Deprivatize ``_factorize_from_iterable`` and ``_factorize_from_iterables``'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29376',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29376/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29376/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29376/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29376',
  'id': 516716343,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1OTM4ODI1',
  'number': 29376,
  'title': 'TST: new test for sort index when Nan in other axis.',
  'user': {'login': 'ainsleyto',
   'id': 33066411,
   'node_id': 'MDQ6VXNlcjMzMDY2NDEx',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/33066411?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ainsleyto',
   'html_url': 'https://github.com/ainsleyto',
   'followers_url': 'https://api.github.com/users/ainsleyto/followers',
   'following_url': 'https://api.github.com/users/ainsleyto/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ainsleyto/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ainsleyto/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ainsleyto/subscriptions',
   'organizations_url': 'https://api.github.com/users/ainsleyto/orgs',
   'repos_url': 'https://api.github.com/users/ainsleyto/repos',
   'events_url': 'https://api.github.com/users/ainsleyto/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ainsleyto/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 71268330,
    'node_id': 'MDU6TGFiZWw3MTI2ODMzMA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex',
    'name': 'MultiIndex',
    'color': '207de5',
    'default': False},
   {'id': 13098779,
    'node_id': 'MDU6TGFiZWwxMzA5ODc3OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping',
    'name': 'Reshaping',
    'color': '02d7e1',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2019-11-02T20:45:37Z',
  'updated_at': '2019-11-02T20:49:27Z',
  'closed_at': None,
  'author_association': 'NONE',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29376',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29376',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29376.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29376.patch'},
  'body': 'closes #12261 \r\ntest added / passed\r\npasses black pandas'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29375',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29375/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29375/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29375/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29375',
  'id': 516709167,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzM1OTMyNTQ0',
  'number': 29375,
  'title': 'Deprecate using `xlrd` engine',
  'user': {'login': 'cruzzoe',
   'id': 11476338,
   'node_id': 'MDQ6VXNlcjExNDc2MzM4',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/11476338?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/cruzzoe',
   'html_url': 'https://github.com/cruzzoe',
   'followers_url': 'https://api.github.com/users/cruzzoe/followers',
   'following_url': 'https://api.github.com/users/cruzzoe/following{/other_user}',
   'gists_url': 'https://api.github.com/users/cruzzoe/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/cruzzoe/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/cruzzoe/subscriptions',
   'organizations_url': 'https://api.github.com/users/cruzzoe/orgs',
   'repos_url': 'https://api.github.com/users/cruzzoe/repos',
   'events_url': 'https://api.github.com/users/cruzzoe/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/cruzzoe/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 87485152,
    'node_id': 'MDU6TGFiZWw4NzQ4NTE1Mg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Deprecate',
    'name': 'Deprecate',
    'color': '5319e7',
    'default': False},
   {'id': 49254273,
    'node_id': 'MDU6TGFiZWw0OTI1NDI3Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20Excel',
    'name': 'IO Excel',
    'color': 'bfe5bf',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2019-11-02T20:20:11Z',

In [91]:
import sqlite3

In [92]:
query = """ CREATE TABLE test(a VARCHAR(20), b VARCHAR(20),c REAL, d INTEGER );"""

In [93]:
con = sqlite3.connect('mydata.sqlite')

In [94]:
con.execute(query)

In [95]:
con.commit()

In [96]:
data = [('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [97]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [98]:
con.executemany(stmt, data)

In [99]:
con.commit()

In [100]:
cursor = con.execute('select * from test')

In [101]:
rows = cursor.fetchall()

In [102]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]