In [2]:
#1 billion number ki list create kari
l = range(10000000)

In [3]:
%time for i in l: i * 7

Wall time: 1e+03 ms

In [10]:
#LIST COMPREHENSION:
[i * 7 for i in l]

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994,
 1001,
 1008,
 1015,
 1022,
 1029,
 1036,
 1043,
 1050,
 1057,
 1064,
 1071,
 1078,
 1085,
 1092,
 1099,
 1106,
 1113,
 1120,
 1127,
 1134,
 1141,
 1148,
 1155,
 1162,
 1169,
 1176,
 1183,
 1190,
 1197,
 1204,
 1211,
 1218,
 1225,
 1232,
 1239,
 1246,
 1253,
 1260,
 1267,
 1274,
 1281,
 1288,
 1295,
 1302,
 1309,
 1316,
 1323,
 1330,
 1337,
 1344,
 1351,
 1358,
 1365,
 1372,
 1379,
 1386,
 1393,
 1400,
 1407,
 1414,
 1421,
 1428,
 1435,
 1442,
 1449,
 1456,
 1463,
 1470,
 1477,
 1484,
 1491,
 1498,
 1505,
 1512,
 1519,
 1526,
 1533,
 1540,
 1547,
 1554,
 1561,
 1568,
 1575,
 1582,
 1589,
 1596,
 1603,
 1610,
 1617,
 1624,
 1631,
 1638,
 1645,
 1652,
 1659,
 1666,
 1673,
 1680,
 1687,
 1694,
 1701,
 1708,
 1715,
 1722,
 1729,
 1736,
 1743,
 1750,
 1757,
 1764,
 1771,
 1778,
 1785,
 1792,
 1799,
 1806,
 1813,
 1820,
 1827,
 1834,
 1841,
 1848,
 1855,
 1862,
 1869,
 1876,
 1883,
 1890,
 1897,
 1904,
 1911,
 1918,
 1925,
 1932,
 1939,
 1946,
 1953,
 1960,
 1967,
 1974,
 1981,
 1988,
 1995,
 2002,
 2009,
 2016,
 2023,
 2030,
 2037,
 2044,
 2051,
 2058,
 2065,
 2072,
 2079,
 2086,
 2093,
 2100,
 2107,
 2114,
 2121,
 2128,
 2135,
 2142,
 2149,
 2156,
 2163,
 2170,
 2177,
 2184,
 2191,
 2198,
 2205,
 2212,
 2219,
 2226,
 2233,
 2240,
 2247,
 2254,
 2261,
 2268,
 2275,
 2282,
 2289,
 2296,
 2303,
 2310,
 2317,
 2324,
 2331,
 2338,
 2345,
 2352,
 2359,
 2366,
 2373,
 2380,
 2387,
 2394,
 2401,
 2408,
 2415,
 2422,
 2429,
 2436,
 2443,
 2450,
 2457,
 2464,
 2471,
 2478,
 2485,
 2492,
 2499,
 2506,
 2513,
 2520,
 2527,
 2534,
 2541,
 2548,
 2555,
 2562,
 2569,
 2576,
 2583,
 2590,
 2597,
 2604,
 2611,
 2618,
 2625,
 2632,
 2639,
 2646,
 2653,
 2660,
 2667,
 2674,
 2681,
 2688,
 2695,
 2702,
 2709,
 2716,
 2723,
 2730,
 2737,
 2744,
 2751,
 2758,
 2765,
 2772,
 2779,
 2786,
 2793,
 2800,
 2807,
 2814,
 2821,
 2828,
 2835,
 2842,
 2849,
 2856,
 2863,
 2870,
 2877,
 2884,
 2891,
 2898,
 2905,
 2912,
 2919,
 2926,
 2933,
 2940,
 2947,
 2954,
 2961,
 2968,
 2975,
 2982,
 2989,
 2996,
 3003,
 3010,
 3017,
 3024,
 3031,
 3038,
 3045,
 3052,
 3059,
 3066,
 3073,
 3080,
 3087,
 3094,
 3101,
 3108,
 3115,
 3122,
 3129,
 3136,
 3143,
 3150,
 3157,
 3164,
 3171,
 3178,
 3185,
 3192,
 3199,
 3206,
 3213,
 3220,
 3227,
 3234,
 3241,
 3248,
 3255,
 3262,
 3269,
 3276,
 3283,
 3290,
 3297,
 3304,
 3311,
 3318,
 3325,
 3332,
 3339,
 3346,
 3353,
 3360,
 3367,
 3374,
 3381,
 3388,
 3395,
 3402,
 3409,
 3416,
 3423,
 3430,
 3437,
 3444,
 3451,
 3458,
 3465,
 3472,
 3479,
 3486,
 3493,
 3500,
 3507,
 3514,
 3521,
 3528,
 3535,
 3542,
 3549,
 3556,
 3563,
 3570,
 3577,
 3584,
 3591,
 3598,
 3605,
 3612,
 3619,
 3626,
 3633,
 3640,
 3647,
 3654,
 3661,
 3668,
 3675,
 3682,
 3689,
 3696,
 3703,
 3710,
 3717,
 3724,
 3731,
 3738,
 3745,
 3752,
 3759,
 3766,
 3773,
 3780,
 3787,
 3794,
 3801,
 3808,
 3815,
 3822,
 3829,
 3836,
 3843,
 3850,
 3857,
 3864,
 3871,
 3878,
 3885,
 3892,
 3899,
 3906,
 3913,
 3920,
 3927,
 3934,
 3941,
 3948,
 3955,
 3962,
 3969,
 3976,
 3983,
 3990,
 3997,
 4004,
 4011,
 4018,
 4025,
 4032,
 4039,
 4046,
 4053,
 4060,
 4067,
 4074,
 4081,
 4088,
 4095,
 4102,
 4109,
 4116,
 4123,
 4130,
 4137,
 4144,
 4151,
 4158,
 4165,
 4172,
 4179,
 4186,
 4193,
 4200,
 4207,
 4214,
 4221,
 4228,
 4235,
 4242,
 4249,
 4256,
 4263,
 4270,
 4277,
 4284,
 4291,
 4298,
 4305,
 4312,
 4319,
 4326,
 4333,
 4340,
 4347,
 4354,
 4361,
 4368,
 4375,
 4382,
 4389,
 4396,
 4403,
 4410,
 4417,
 4424,
 4431,
 4438,
 4445,
 4452,
 4459,
 4466,
 4473,
 4480,
 4487,
 4494,
 4501,
 4508,
 4515,
 4522,
 4529,
 4536,
 4543,
 4550,
 4557,
 4564,
 4571,
 4578,
 4585,
 4592,
 4599,
 4606,
 4613,
 4620,
 4627,
 4634,
 4641,
 4648,
 4655,
 4662,
 4669,
 4676,
 4683,
 4690,
 4697,
 4704,
 4711,
 4718,
 4725,
 4732,
 4739,
 4746,
 4753,
 4760,
 4767,
 4774,
 4781,
 4788,
 4795,
 4802,
 4809,
 4816,
 4823,
 4830,
 4837,
 4844,
 4851,
 4858,
 4865,
 4872,
 4879,
 4886,
 4893,
 4900,
 4907,
 4914,
 4921,
 4928,
 4935,
 4942,
 4949,
 4956,
 4963,
 4970,
 4977,
 4984,
 4991,
 4998,
 5005,
 5012,
 5019,
 5026,
 5033,
 5040,
 5047,
 5054,
 5061,
 5068,
 5075,
 5082,
 5089,
 5096,
 5103,
 5110,
 5117,
 5124,
 5131,
 5138,
 5145,
 5152,
 5159,
 5166,
 5173,
 5180,
 5187,
 5194,
 5201,
 5208,
 5215,
 5222,
 5229,
 5236,
 5243,
 5250,
 5257,
 5264,
 5271,
 5278,
 5285,
 5292,
 5299,
 5306,
 5313,
 5320,
 5327,
 5334,
 5341,
 5348,
 5355,
 5362,
 5369,
 5376,
 5383,
 5390,
 5397,
 5404,
 5411,
 5418,
 5425,
 5432,
 5439,
 5446,
 5453,
 5460,
 5467,
 5474,
 5481,
 5488,
 5495,
 5502,
 5509,
 5516,
 5523,
 5530,
 5537,
 5544,
 5551,
 5558,
 5565,
 5572,
 5579,
 5586,
 5593,
 5600,
 5607,
 5614,
 5621,
 5628,
 5635,
 5642,
 5649,
 5656,
 5663,
 5670,
 5677,
 5684,
 5691,
 5698,
 5705,
 5712,
 5719,
 5726,
 5733,
 5740,
 5747,
 5754,
 5761,
 5768,
 5775,
 5782,
 5789,
 5796,
 5803,
 5810,
 5817,
 5824,
 5831,
 5838,
 5845,
 5852,
 5859,
 5866,
 5873,
 5880,
 5887,
 5894,
 5901,
 5908,
 5915,
 5922,
 5929,
 5936,
 5943,
 5950,
 5957,
 5964,
 5971,
 5978,
 5985,
 5992,
 5999,
 6006,
 6013,
 6020,
 6027,
 6034,
 6041,
 6048,
 6055,
 6062,
 6069,
 6076,
 6083,
 6090,
 6097,
 6104,
 6111,
 6118,
 6125,
 6132,
 6139,
 6146,
 6153,
 6160,
 6167,
 6174,
 6181,
 6188,
 6195,
 6202,
 6209,
 6216,
 6223,
 6230,
 6237,
 6244,
 6251,
 6258,
 6265,
 6272,
 6279,
 6286,
 6293,
 6300,
 6307,
 6314,
 6321,
 6328,
 6335,
 6342,
 6349,
 6356,
 6363,
 6370,
 6377,
 6384,
 6391,
 6398,
 6405,
 6412,
 6419,
 6426,
 6433,
 6440,
 6447,
 6454,
 6461,
 6468,
 6475,
 6482,
 6489,
 6496,
 6503,
 6510,
 6517,
 6524,
 6531,
 6538,
 6545,
 6552,
 6559,
 6566,
 6573,
 6580,
 6587,
 6594,
 6601,
 6608,
 6615,
 6622,
 6629,
 6636,
 6643,
 6650,
 6657,
 6664,
 6671,
 6678,
 6685,
 6692,
 6699,
 6706,
 6713,
 6720,
 6727,
 6734,
 6741,
 6748,
 6755,
 6762,
 6769,
 6776,
 6783,
 6790,
 6797,
 6804,
 6811,
 6818,
 6825,
 6832,
 6839,
 6846,
 6853,
 6860,
 6867,
 6874,
 6881,
 6888,
 6895,
 6902,
 6909,
 6916,
 6923,
 6930,
 6937,
 6944,
 6951,
 6958,
 6965,
 6972,
 6979,
 6986,
 6993,
 ...]

In [12]:
for j in range(1,10):r = [i * 7 for i in l]

In [6]:
import numpy as np

In [8]:
# arange to return array:
#numpy pr vectorize operation hote hai
#numpy multiprocessor operation hai is mai loop ki zarort nhi parti
x = np.arange(10000000)

In [9]:
%time x * 7

Wall time: 31.2 ms

array([       0,        7,       14, ..., 69999979, 69999986, 69999993])

In [10]:
#Add to list
l1 = range(1000000)
l2 = range(1000000)

In [11]:
#1st method
%time for i,j in zip(l1,l2):i+j

Wall time: 187 ms

In [12]:
#2nd method
%time for i in range(len(l1)): l1[i]+l2[i]

Wall time: 375 ms

In [13]:

l1 = [1,4,5,7,9]
l2 = [11,14,15,17,19]
for i in range(5):
    print(l1[i]+l2[i])

12
18
20
24
28

In [14]:
for i in range(5):
    print(l[i])

0
1
2
3
4

In [15]:
#Add to array
a = np.array([1000000])
b = np.array([1000000])
c = a + b
%time print(c)

[2000000]
Wall time: 0 ns

In [16]:
for k in range(10):x*7
print(k)

9

In [20]:
#Numpy apna data ndarray mai rakhta hai
#Numpy pe ek function hai zeros ka

In [62]:
#Numpy zeros function
np.zeros((2,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [63]:
np.zeros((7,7))

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [65]:
#Numpy Ones function
np.ones((2,7))

array([[1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1.]])

In [67]:
#2d array
#spark matrix
np.ones((2,7))*2

array([[2., 2., 2., 2., 2., 2., 2.],
       [2., 2., 2., 2., 2., 2., 2.]])

In [68]:
#Numpy np array to convert list in array
l = [7,9,5,4,3,2,1]

In [42]:
np.array(l)

array([7, 9, 5, 4, 3, 2, 1])

In [43]:
np.arange(100,1,-1)

array([100,  99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,
        87,  86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,
        74,  73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,
        61,  60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,
        48,  47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,
        35,  34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,
        22,  21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,
         9,   8,   7,   6,   5,   4,   3,   2])

In [47]:
#Odd
np.arange(1,1000,2)

array([  1,   3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,
        27,  29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49,  51,
        53,  55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,  77,
        79,  81,  83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103,
       105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129,
       131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155,
       157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181,
       183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207,
       209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233,
       235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259,
       261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285,
       287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311,
       313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337,
       339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363,
       365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389,
       391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415,
       417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441,
       443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467,
       469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493,
       495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519,
       521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545,
       547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571,
       573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597,
       599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623,
       625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649,
       651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675,
       677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701,
       703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727,
       729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753,
       755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779,
       781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805,
       807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831,
       833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857,
       859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883,
       885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909,
       911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935,
       937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961,
       963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987,
       989, 991, 993, 995, 997, 999])

In [49]:
Even
np.arange(2,1000,2)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102, 104,
       106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130,
       132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156,
       158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182,
       184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208,
       210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234,
       236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260,
       262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286,
       288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312,
       314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338,
       340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364,
       366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390,
       392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416,
       418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442,
       444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468,
       470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494,
       496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520,
       522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546,
       548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572,
       574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598,
       600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624,
       626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650,
       652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676,
       678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702,
       704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728,
       730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754,
       756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780,
       782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806,
       808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832,
       834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858,
       860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884,
       886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910,
       912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936,
       938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962,
       964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988,
       990, 992, 994, 996, 998])

In [52]:
np.arange(7,71,7)

array([ 7, 14, 21, 28, 35, 42, 49, 56, 63, 70])

In [53]:
np.empty((7,7))

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [55]:
#Any garbage value
np.empty((2,2))

array([[1.27999815e-311, 1.37962320e-306],
       [1.29060871e-306, 1.24611266e-306]])

In [37]:
x = np.ones((20,20))

In [38]:
x.shape

(20, 20)

In [39]:
x.dtype

dtype('float64')

In [18]:
np.ones((5,5),dtype = 'int32')

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [41]:
x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1.]])

In [42]:
#To change the datatype(Type casting)
x.astype('int32')

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [43]:
#x dimension
x.ndim

2

In [66]:
x.reshape((2,2,100))

array([[[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1.]]])

In [20]:
x = np.ones((4,5))

In [21]:
x.shape

(4, 5)

In [22]:
x.reshape((2,10))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [25]:
x.reshape((5,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [72]:
x

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [81]:
x.reshape((4,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [28]:
x.reshape((2,2,5))

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

In [29]:
x.reshape((2,1,10))

array([[[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]]])

#VECTORIZATION
x = np.array([7,8,9])

In [88]:
x * 5

array([35, 40, 45])

In [89]:
1/x

array([0.14285714, 0.125     , 0.11111111])

In [90]:
 y = np.array([5,9,8])

In [91]:
x * y

array([35, 72, 72])

In [98]:
x + y

array([12, 17, 17])

In [97]:
print(x)
print(y)
z = x * y
i = x + y
print(z)
print('add x & y',i)

[7 8 9]
[5 9 8]
[35 72 72]
add x & y [12 17 17]

In [99]:
#2 dimensional array in list(list with in list)
x = np.array([[5,6,7],[4,6,7]])
x

array([[5, 6, 7],
       [4, 6, 7]])

In [101]:
x = np.array([-5,9,-7,5,8,-7,-23,7])
x>0

array([False,  True, False,  True,  True, False, False,  True])

In [103]:
#Indexing mai jo true hoga wo ajaye ga or jo false hain wo nhi ayen gen
x[x>0]

array([9, 5, 8, 7])

In [104]:
name = np.array(['Ali','Sadaf','Asif','xyz','abc'])
name

array(['Ali', 'Sadaf', 'Asif', 'xyz', 'abc'], dtype='<U5')

In [105]:
marks = np.array([90,60,45,80,15])
marks

array([90, 60, 45, 80, 15])

In [107]:
marks > 60

array([ True, False, False,  True, False])

In [108]:
marks[marks >= 60]

array([90, 60, 80])

In [109]:
name[marks >= 60]

array(['Ali', 'Sadaf', 'xyz'], dtype='<U5')

In [117]:
fee = np.array(["submitted","notsubmitted","submitted","notsubmitted","submitted"])
fee

array(['submitted', 'notsubmitted', 'submitted', 'notsubmitted',
       'submitted'], dtype='<U12')

In [118]:
print(name)
print(fee)

['Ali' 'Sadaf' 'Asif' 'xyz' 'abc']
['submitted' 'notsubmitted' 'submitted' 'notsubmitted' 'submitted']

In [123]:
name[fee == "notsubmitted"]

array(['Sadaf', 'xyz'], dtype='<U5')

In [125]:
name[fee == "submitted"]

array(['Ali', 'Asif', 'abc'], dtype='<U5')

# Array Indexing

In [127]:
print(name)
name[0 : 3]

['Ali' 'Sadaf' 'Asif' 'xyz' 'abc']

array(['Ali', 'Sadaf', 'Asif'], dtype='<U5')

# 10 1s in all border

In [129]:
#1111111111
#1000000001
#1000000001
#1000000001
#1000000001
#1000000001
#1000000001
#1000000001
#1000000001
#1111111111

In [137]:
x = np.zeros((10,10))
x

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [141]:
x[0,:]=1
x[-1,:]=1
x[:,0]=1
x[:,-1]=1
x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [146]:
x = np.ones((10,10))
x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [148]:
x[1:-1,1:-1]=0
x

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

# Checker Board Pattern

# Football Pattern

# INDEXING

In [5]:
a = np.array([1,2,3,4])
a[0]

1

In [6]:
a[1:3]

array([2, 3])

In [10]:
b = np.array([[2,7,6,5],[4,6,8,9]])
b[1:2]

array([[4, 6, 8, 9]])

In [11]:
#3d Array
c = ([[2,3,4,5],[5,6,8,8],[8,0,6,8],[4,6,8,9]])
c

[[2, 3, 4, 5], [5, 6, 8, 8], [8, 0, 6, 8], [4, 6, 8, 9]]

In [12]:
c(2,2,4)

TypeError: 'list' object is not callable

In [30]:
#question p
x = np.arange(1,9)

In [31]:
x.reshape(2,4)

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [32]:
y = np.array([1,2])
y

array([1, 2])

In [33]:
x+y

ValueError: operands could not be broadcast together with shapes (8,) (2,)

In [35]:
z = y.reshape(2,1)
z

array([[1],
       [2]])

In [37]:
print(x)
print(z)
print(x+z)

[1 2 3 4 5 6 7 8]
[[1]
 [2]]
[[ 2  3  4  5  6  7  8  9]
 [ 3  4  5  6  7  8  9 10]]

In [105]:
#NEW WORK

In [106]:
a = [7,9,-9,8,3]

In [107]:
b = np.array(a)

In [108]:
b%2==0

array([False, False, False,  True, False])

In [110]:
#b ke value mai indexing value pas kardege
b[b%2==0]

array([8])

In [111]:
#fancing indexing
b[[4,1,3]]

array([3, 9, 8])

In [113]:
#ELEMNT WISE ARRAY FUNCTION
print(b)
np.square(b)

[ 7  9 -9  8  3]

array([49, 81, 81, 64,  9], dtype=int32)

In [115]:
print(b)
np.abs(b)

[ 7  9 -9  8  3]

array([7, 9, 9, 8, 3])

In [116]:
np.fabs(b)

array([7., 9., 9., 8., 3.])

In [117]:
np.exp(b)

array([1.09663316e+03, 8.10308393e+03, 1.23409804e-04, 2.98095799e+03,
       2.00855369e+01])

In [120]:
#np.wheres short form if and else
salary = np.array([-1,100000,200000,300000])

In [121]:
np.where(salary<0,100000,salary)

array([100000, 100000, 200000, 300000])

In [124]:
#Jaha empty hai to wo data fill karne ke liye kuch bhi dal de(for e.g(np.meann))
np.where(salary<0,np.mean(salary),salary)

array([149999.75, 100000.  , 200000.  , 300000.  ])

In [125]:
#TRANSPOSE

In [126]:
#1st method
salary.transpose()

array([    -1, 100000, 200000, 300000])

In [127]:
#2nd method
salary.T

array([    -1, 100000, 200000, 300000])

In [129]:
#CUMSUM(jo hr value ko plus karta chala jaye ga)

In [130]:
#cumsum means hm plus kar rehe hain unki ake wali values mai
np.cumsum(salary)

array([    -1,  99999, 299999, 599999], dtype=int32)

In [131]:
#Ccumprod(): -1 to multiply kare ga thousand se phr multiply kare ga 20000 se then 30000 se

In [132]:
np.cumprod(salary)

array([        -1,    -100000, 1474836480,  593035264], dtype=int32)