# IF STATEMENT

In [1]:
a = 10
b = 20
a < b

True

In [7]:
a = 10
b = 20
if a < b: 
    print(f'if {a} greather than {b} is true')# to start if bracket and indication start (if block start only condition should be true)
else:
       print(f'if {a} greather than {b} is false')

if 10 greather than 20 is true

In [11]:
temp = int(input("Enter the temperature today: "))
if temp > 30: # greather sign not supported string jb hm user se input lete hain to wo string consider karta hai then hme num ko int mai convert karna pare ga
    print("Its hot weather")
else:
    print("Its normal weather")

Enter the temperature today: 45
Its hot weather

# NESTED IF STATEMENT

In [15]:
cnic = input("Do you have cnic :") #nested if means one if fail it mean all if fail(nested if means all if condition should be true)if cnic == 'yes';
if cnic == 'yes':
    print("Andar chale jaye")
    nameinlist = input("is my name in list? ")
    if nameinlist == 'yes':
        print("Please cast your vote ")
    else:
        print("Please and search your name in some other polling section")       
else:
    print("Please bring cnic in order to cast vote")

Do you have cnic :yes
Andar chale jaye
is my name in list? yes
Please cast your vote

# IF , ELIF, ELSE

In [2]:
# Atleast one condition should be true 
mark = int(input("Enter your marks: "))
grade = ' '
if mark >= 90:
    grade = 'A'
elif mark >= 80:
    grade = 'B'
elif mark >= 70:
    grade = 'B'
elif mark >= 60:
    grade = 'C'
elif mark >= 50:
    grade = 'D'
else: 
    print("You failed")
print(f'Your marks are {mark} and your grade is {grade}')

Enter your marks: 76
Your marks are 76 and your grade is B

# OPERATORS

In [5]:
#And nested or Eif ke liye
cnic = input("Do you have cnic :") #nested if means one if fail it mean all if fail(nested if means all if condition should be true)if cnic == 'yes';
nameinlist = input("is my name in list? ")
if nameinlist == 'yes' and cnic == 'Yes':
    print("Please cast your vote ")
else:
    print("Please and search your name in some other polling section")

Do you have cnic :yes
is my name in list? yes
Please and search your name in some other polling section

In [6]:
#paragraph form
'''print("hello")
print("hello")
print("hello")
print("hello")'''

'print("hello")\nprint("hello")\nprint("hello")\nprint("hello")'

# LIST

In [4]:
#List Variable Define("size mai multiple data type hold kar leti hai not define the list ")
Student = ['Muniba', 'Mariyam', 'samra']
#index =      0           1         2
Student

['Muniba', 'Mariyam', 'samra']

In [11]:
#append use to add list value
Student.append('BSSE')
Student

['Muniba', 'Mariyam', 'samra', 'BSSE']

In [15]:
#insert in b/w value apload karde ga
Student.insert(1, 567)
Student

['Orange', 567, 'samra', 'BSSE']

In [12]:
del Student[0]
Student

['Mariyam', 'samra', 'BSSE']

In [13]:
Student[0] = 'Orange'

In [14]:
Student

['Orange', 'samra', 'BSSE']

In [24]:
Name = 'Muniba'
print(Name.title())
print(Name.upper())
print(Name.lower())

Muniba
MUNIBA
muniba

In [1]:
# LIST INDEX

In [6]:
Student[1]
Student

['Muniba', 'Mariyam', 'samra']

# EMPTY LIST

In [17]:
new.append(98)
new.append(120)
new

[79, 98, 120]

In [15]:
del new[0]
new

[120]

In [16]:
new[0] = 79
new

[79]

In [19]:
#insert
new.insert(1,890)
new

[79, 890, 890, 98, 120]

In [20]:
#Agr hm koi esa index dale ge jo list index hai hi nhi to wo last mai add karde ga
new.insert(29,'Muniba')
new

[79, 890, 890, 98, 120, 'Muniba']

In [24]:
new.index(120)
new

[79, 890, 890, 98, 120]

In [23]:
new.remove('Muniba')
new

[79, 890, 890, 98, 120]

In [42]:
List1 = ['Karachi','Lahore','Peshawar','Quetta']
List1

['Karachi', 'Lahore', 'Peshawar', 'Quetta']

In [27]:
List1.remove('Peshawar')
List1

['Karachi', 'Lahore', 'Quetta']

In [28]:
List1.append('Karachi')
List1

['Karachi', 'Lahore', 'Quetta', 'Karachi']

In [32]:
List1.index('Lahore')

1

In [1]:
marks = [46,3,78,33,89,99,23]

In [2]:
marks.sort()
marks

[3, 23, 33, 46, 78, 89, 99]

In [3]:
#desending sorting
marks.sort(reverse = True)
marks

[99, 89, 78, 46, 33, 23, 3]

In [4]:
marks.sort(reverse = False)
marks

[3, 23, 33, 46, 78, 89, 99]

In [5]:
List1 = ['Karachi','Lahore','Peshawar','Quetta','Karachi','Islamabad','Balochistan']
List1

['Karachi',
 'Lahore',
 'Peshawar',
 'Quetta',
 'Karachi',
 'Islamabad',
 'Balochistan']

In [6]:
List1.sort(reverse = True)
List1

['Quetta',
 'Peshawar',
 'Lahore',
 'Karachi',
 'Karachi',
 'Islamabad',
 'Balochistan']

In [38]:
#not support to combine sort string and num
List1 = ['Karachi',456,'Lahore',908,'Peshawar',678,'Quetta',500]
List1.sort()
List1

TypeError: '<' not supported between instances of 'int' and 'str'

In [2]:
#Passed by reference
List1 = marks
List1

[46, 3, 78, 33, 89, 99, 23]

In [59]:
del marks[2]
List1

[99, 89, 33, 23, 3]

In [60]:
#Passed by value
List3 = List1.copy()
List3

[99, 89, 33, 23, 3]

In [61]:
List3.append(789)
List3

[99, 89, 33, 23, 3, 789]

In [62]:
#Reverse

In [63]:
List1.reverse()
List1

[3, 23, 33, 89, 99]

In [64]:
#Full list clear
List1.clear()
List1

[]

# POP

In [69]:
#Wo values jo delete ho rhi hain unhai hold bhbi krwa rha hota hai
number = [45,89,67,56,46,67]

67
[45, 89, 67, 56, 46]

In [75]:
x = number.pop()
print(x)
print(number)

IndexError: pop from empty list

In [76]:
x

45

In [9]:
num = [2,3,4,5,6]
element = num.pop()
print(element)

6

In [133]:
number = [45,89,67,56,46,67]

In [134]:
PoppedList = []

In [135]:
PoppedElement = number.pop()
PoppedList.append(PoppedElement)
print(number)
print(PoppedList)

[45, 89, 67, 56, 46]
[67]

In [138]:
if len(number) != 0:
    PoppedList.append(number.pop())
    print(PoppedList)
else:
    print('Your list is empty now')

[67, 46, 56, 67]

In [141]:
#To find length of listber
len(PoppedList)

4

# LIST IN LIST

In [10]:
#List khud bhi ek data type hai
listLIST = [17, 18, 19, 30, 40, 50,['apple','banana','orange','Mango','Stawbery']]
listLIST

[17, 18, 19, 30, 40, 50, ['apple', 'banana', 'orange', 'Mango', 'Stawbery']]

In [11]:
listLIST[6][2]

'orange'

# SLICING

Ek list hai jis mai se ek se zyada value ko extract karte hain..slice mai hme copy bn kar result milta hai.

In [16]:
Fruits = ['orange','peach','apple','mango']
Fruits

['orange', 'peach', 'apple', 'mango']

In [17]:
Students = ['mariyam','muniba','samra']
Students

['mariyam', 'muniba', 'samra']

In [18]:
abc = [23,87,Fruits,Students,'abcd']
abc

[23,
 87,
 ['orange', 'peach', 'apple', 'mango'],
 ['mariyam', 'muniba', 'samra'],
 'abcd']

In [203]:
abc[2].remove('apple')
abc

[23, 87, ['orange', 'peach', 'mango'], [], 'abcd']

In [199]:
abc[3].remove('Mariyam')
abc

ValueError: list.remove(x): x not in list

In [204]:
del abc [2][1]

In [205]:
abc

[23, 87, ['orange', 'mango'], [], 'abcd']

# SLICING

In [6]:
abc = [4,9,0,6,4,6,8,4]
abc [1:3]

[9, 0]

In [227]:
#index    -6 -5  -4 -3 -2 -1             
number = [45,89,67,56,46,67,30,90,70,60,78,69,90]
#index    0  1   2  3 4  5
number

[45, 89, 67, 56, 46, 67, 30, 90, 70, 60, 78, 69, 90]

In [228]:
number[-4]

60

In [229]:
number[0:3] #passed in range

[45, 89, 67]

In [230]:
number[1:4]#last num not include

[89, 67, 56]

In [237]:
print(number)
number[1:10:3] # ye gap nhi hai step hai

[45, 89, 67, 56, 46, 67, 30, 90, 70, 60, 78, 69, 90]

[89, 46, 90]

In [238]:
#agr starting point nhi de to wo "0" hoga
number[:4]

[45, 89, 67, 56]

In [239]:
number[4:]

[46, 67, 30, 90, 70, 60, 78, 69, 90]

In [240]:
number[::3]

[45, 56, 30, 60, 90]

In [241]:
number [7:3]

[]

In [ ]:
#Slicing mai error generate nhi hoga...Slicing direction left to right

In [242]:
print(number)
number[-5:-1]

[45, 89, 67, 56, 46, 67, 30, 90, 70, 60, 78, 69, 90]

[70, 60, 78, 69]

In [243]:
#reverse condition mai run kar rehe hai 
print(number)
number[-1:-8:-1]

[45, 89, 67, 56, 46, 67, 30, 90, 70, 60, 78, 69, 90]

[90, 69, 78, 60, 70, 90, 30]

# TUPPLES

In [7]:
#List and tuple zyada tr similar hi kaam karte hain but in mai ye difference hai tupple ki value change nhi hosakti 
# Jo ek br insert kardia us ko elimunate nhi karsakte..Tupple immutible hoti hai..

In [19]:
mytupple = (1,2,3,4,5)

In [20]:
len(mytupple)

5

In [21]:
type(mytupple)

tuple

In [22]:
mytupple[4]

5

In [23]:
mytupple[2:4]

(3, 4)

In [21]:
del mytupple[2]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
mytupple

(1, 2, 3, 4, 5)

In [23]:
# Packing and unpacking in list and tupples

In [24]:
#tupple packing
a = ("asad","fahad","asma","hina")
#packing

In [25]:
w,x,y,z = a

In [26]:
w

'asad'

In [27]:
x

'fahad'

In [28]:
y

'asma'

In [29]:
z

'hina'

In [31]:
#list packing 
rectangle = [100,200]

In [32]:
height,width = rectangle

In [33]:
height

100

In [34]:
width

200

# FOR LOOPS

In [35]:
#Multiple time kisi kaam ko perform karna

In [37]:
#Print your name 10 times
# for ki body mai jitna code hai execute hoga
for a in range(10):
    print(a,"Muniba")

0 Muniba
1 Muniba
2 Muniba
3 Muniba
4 Muniba
5 Muniba
6 Muniba
7 Muniba
8 Muniba
9 Muniba

In [38]:
for a in range(2,5):
    print(a,"Muniba")

2 Muniba
3 Muniba
4 Muniba

In [41]:
for a in range(1,10,2):
    print(a,"Muniba")

1 Muniba
3 Muniba
5 Muniba
7 Muniba
9 Muniba

In [42]:
for a in range(0,10,2):
    print(a,"Muniba")

0 Muniba
2 Muniba
4 Muniba
6 Muniba
8 Muniba

In [45]:
#reverse 
for a in range(10,1,-2):
    print(a,"Muniba")

10 Muniba
8 Muniba
6 Muniba
4 Muniba
2 Muniba

In [46]:
for a in range(10,0,-1):
    print(a,"Muniba")

10 Muniba
9 Muniba
8 Muniba
7 Muniba
6 Muniba
5 Muniba
4 Muniba
3 Muniba
2 Muniba
1 Muniba

In [47]:
mylist = ["John","Ada","LoveLace"]
for i in mylist:
    print(i)

John
Ada
LoveLace

In [48]:
mynum = [2,4,5,8,10]
for i in mynum:
    print(i * 2)

4
8
10
16
20

In [2]:
#agr output bhi hme list form mai chahiye
mynum = [2,4,5,8,10]
newlist = []
for i in mynum:
    newlist.append(i*2)
print(newlist)

[4, 8, 10, 16, 20]

In [7]:
for i in range(21):
    print(i)
    if i == 20:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
40

# FOR KEYWORD

BREAK , CONTINUE , PASS

In [56]:
# Loop ko darmyan mai rokne ke liye break or continue use hote hain.
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [57]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

In [58]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [10]:
for i in range(9):
    pass
print(i)

8

In [62]:
# Take input from user and print table of that number in the following format
#2 * 1 =2

In [4]:
num = int(input(" Enter a table number: "))
for i in range(1,11):
    mult = i * num
    print(f' {num} x {i} = ', mult )

 Enter a table number: 2
 2 x 1 =  2
 2 x 2 =  4
 2 x 3 =  6
 2 x 4 =  8
 2 x 5 =  10
 2 x 6 =  12
 2 x 7 =  14
 2 x 8 =  16
 2 x 9 =  18
 2 x 10 =  20

STRING LOOP

In [2]:
#string pr loop lagaye ge wo ek ek charcater utha kar laye ga

In [70]:
for a in "Pakistan":
    print(a)

P
a
k
i
s
t
a
n

# NESTED LOOP

In [72]:
# Inner loop outer loop 
#outer loop
for a in "Pakistan":
#inner loop
    for b in range(1,6):
        print(a,b)

P 1
P 2
P 3
P 4
P 5
a 1
a 2
a 3
a 4
a 5
k 1
k 2
k 3
k 4
k 5
i 1
i 2
i 3
i 4
i 5
s 1
s 2
s 3
s 4
s 5
t 1
t 2
t 3
t 4
t 5
a 1
a 2
a 3
a 4
a 5
n 1
n 2
n 3
n 4
n 5

In [80]:
fname = ["BlueRay","Upchuck","Lojack","Gizmo","DoRag"]
lname = ["Zzz","Burp","Dogbone","Droop"]
fullname = []
for f in fname:
    for l in lname:
        fullname.append(f + " " + l)
fullname

['BlueRay Zzz',
 'BlueRay Burp',
 'BlueRay Dogbone',
 'BlueRay Droop',
 'Upchuck Zzz',
 'Upchuck Burp',
 'Upchuck Dogbone',
 'Upchuck Droop',
 'Lojack Zzz',
 'Lojack Burp',
 'Lojack Dogbone',
 'Lojack Droop',
 'Gizmo Zzz',
 'Gizmo Burp',
 'Gizmo Dogbone',
 'Gizmo Droop',
 'DoRag Zzz',
 'DoRag Burp',
 'DoRag Dogbone',
 'DoRag Droop']

# CHANGING CASE

In [84]:
name = "pakistan"
name.upper()
name.lower()

'pakistan'

# STRING SLICING

In [85]:
str = "Pakistan Zindabad"
len(str)

17

In [87]:
str[5:11]

'tan Zi'

In [88]:
str[5:]

'tan Zindabad'

In [89]:
str[:5]

'Pakis'

# DICTIONARY

Dictionary work on key value pair

In [90]:
adict = {}

In [91]:
type(adict)

dict

In [92]:
len(adict)

0

In [123]:
# Adding value to a dictionary
adict['name'] = 'Hamza khan'
adict['age'] = 34
adict['contact'] = 4567908
adict

{'name': 'Hamza khan', 'contact': 4567908, 'age': 34}

In [97]:
adict['age']

34

In [98]:
del adict['age']

In [99]:
adict

{'name': 'Hamza khan', 'contact': 4567908}

In [100]:
key = {'city':"khi","pop":"30M"}
#       key   value
key

{'city': 'khi', 'pop': '30M'}

In [101]:
key['hello'] = 1234567
key

{'city': 'khi', 'pop': '30M', 'hello': 1234567}

In [102]:
key['hello'] = 1234567
key['100'] = 'hundred'
key

{'city': 'khi', 'pop': '30M', 'hello': 1234567, '100': 'hundred'}

OVERRIDE PREVIOUS KEY

In [107]:
key = {'city':"khi","pop":"30M",'city':'Lahore'}
#       key   value
key

{'city': 'Lahore', 'pop': '30M'}

In [109]:
del key['pop']
key

{'city': 'Lahore'}

In [30]:
dictkey = {'city': 'khi', 'pop': '30M', 'contact': 1234567, '100': 'hundred'}
dictkey

{'city': 'khi', 'pop': '30M', 'contact': 1234567, '100': 'hundred'}

In [31]:
#LOOP

In [32]:
#KEYS()
#VLLUES()
#ITEMS()

In [34]:
for key,value in dictkey.items():
    print(key,value)

city khi
pop 30M
contact 1234567
100 hundred

In [115]:
for key in  dictkey.values():
    print(key)

khi
30M
1234567
hundred

In [119]:
for key,val in  dictkey.items():
    print(key,val)

city khi
pop 30M
contact 1234567
100 hundred

W3 school function practice of dictionary

# CREATING A LIST OF DICTIONARY

In [120]:
List = [23,45,67,{'fruit':"apple",'food':"biryani"}]
List

[23, 45, 67, {'fruit': 'apple', 'food': 'biryani'}]

In [121]:
List[3]['food']

'biryani'

In [124]:
"age" in adict

True

In [2]:
#list in multiple dicitionary
a = [{1:100},{2:200},{3:300}]

In [3]:
#How to pick dictionary in list

a[2]

{3: 300}

In [4]:
#get karne ke liye list ka index or dictionary ki ke
a[1][2]

200

# Creating a dictionary of list

In [8]:
d= {'names':['asad','saad','daad',],'ages':[23,34,54,]}

In [9]:
d['names'][2]

'daad'