In [1]:
x = 4 + 3 % 5

In [2]:
print(x)

7

In [3]:
a,b = 10,4

In [4]:
a

10

In [5]:
b

4

In [6]:
a b = 10

SyntaxError: invalid syntax (<ipython-input-6-039b1666f5cf>, line 1)

In [8]:
a_b = 10
a_b

10

In [9]:
10-2

8

/ slash return ans in the form of float or // operator return ans in the form of integer

In [10]:
4/2

2.0

In [11]:
4//2

2

In [12]:
1//3

0

PEMDAS rule use in python

In [13]:
(3**2 + 2)*2 #** use in exponent

22

In [14]:
3 * 2 **(2+3)-6

90

In [15]:
15 % 2

1

In [16]:
2+9*((3*12)-8)/10

27.2

String Concatenate

In [19]:
a = "aqsa"
b = 10
print("my name is {0} and my age is{1}".format(a,b))

my name is aqsa and my age is10

In [2]:
a = 0.3445
b = 3.3345
print("{:-3} {:-3}".format(a,b))

0.3445 3.3345

In [26]:
a = 0.3445
b = 3.3345
print("{} {}".format(a,b))

0.3445 3.3345

CONDITION

<
>
!=
=

In [28]:
#OR mean ek bhi true hui execute
x = 10
y = 10
a = 3
b = 4
if x == y or a == b:
    print("x = y")
else:
    print("x not equal y")

x = y

In [29]:
#AND mean both true hui to execute
x = 10
y = 10
a = 3
b = 4
if x == y and a == b:
    print("x = y")
else:
    print("x not equal y")

x not equal y

In [32]:
#not mean true ko false or false ko true
x = 10
y = 10
a = 3
b = 4
if not(x == y) and not(a == b):
    print("x = y")
else:
    print("x not equal y")

x not equal y

In [33]:
x = 10
y = 10
a = 3
b = 4
if not(x == y) or not(a == b):
    print("x = y")
else:
    print("x not equal y")

x = y

In [34]:
x = 10
y = 10
a = 3
b = 4
if not(x == y) or not(a <= b):#because use ek condition bhi true nhi mili
    print("x = y")
else:
    print("x not equal y")

x not equal y

In [36]:
x = 10
y = 10
a = 3
b = 4
if (x == y) or (a == b):
    print("x = y")
elif a != b:
    print("x not equal y")
else:
    print(hi)

x = y

Dictionary

adic = {key:value}

In [38]:
adic = {"name":"nasir","age": [1,2,3,4,5],"addres":(1,2,3,4,5),"course":{1:10,2:20}}

In [40]:
a = [{},{},{},{}]

In [41]:
len(a)

4

In [47]:
a = [adic]

In [49]:
a = [0]["course"][2]

TypeError: list indices must be integers or slices, not str

#SLICIING
Slice karneke bd data type list hi hoti hai

In [11]:
slicing = [22,35,66,77,44,33,99,0]
slicing[2:6]

[66, 77, 44, 33]

In [12]:
slicing[-6:-2]

[66, 77, 44, 33]

In [13]:
slicing[:5]# 0 se 5 tk jaye ga

[22, 35, 66, 77, 44]

In [14]:
slicing[3:] # stgrt 3 and so on

[77, 44, 33, 99, 0]

In [22]:
slicing[::3]

[22, 77, 99]

In [21]:
print(slicing)
slicing[3::]

[22, 35, 66, 77, 44, 33, 99, 0]

[77, 44, 33, 99, 0]

In [23]:
a={1:"A",2:"B",3:"C"}
b=a.copy()
b[2]="D"
print(a)

{1: 'A', 2: 'B', 3: 'C'}

In [24]:
a={1:"A",2:"B",3:"C"}
a

{1: 'A', 2: 'B', 3: 'C'}

In [26]:
a={1:"A",2:"B",3:"C"}
for i,x in a.items():
    print(i,x)

1 A
2 B
3 C

In [3]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 == d2

False

In [5]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d2 = d1

In [6]:
d2

{'john': 40, 'peter': 45}

In [7]:
d1

{'john': 40, 'peter': 45}

In [8]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 = d2

In [9]:
d1

{'john': 466, 'peter': 45}

In [10]:
d2

{'john': 466, 'peter': 45}

In [11]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 > d2

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [12]:
d = {"john":40, "peter":45}
d["john"]

40

In [15]:
d = {"john":40, "peter":45}
del d["john"]

In [16]:
d

{'peter': 45}

In [17]:
d = {"john":40, "peter":45}
len(d)

2

In [19]:
d = {"john":40, "peter":45}
print(list(d.values()))

[40, 45]

In [20]:
a={1:"A",2:"B",3:"C"}
print(a.setdefault(3))

C

In [30]:
a={1:"A",2:"B",3:"C"}
del a

In [31]:
a

NameError: name 'a' is not defined

In [32]:
a = {}
a[1] = 1
a['1'] = 2
a[1]=a[1]+1
count = 0
for i in a:
    count += a[i]
print(count)

4

In [37]:
a = {1:1,"1":2}
a[1] = a[1] + 1
count = 0
for i in a:
    count = count + a[i]
print(count)

4

In [38]:
numbers = {}
letters = {}
comb = {}
numbers[1] = 56
numbers[3] = 7
letters[4] = 'B'
comb['Numbers'] = numbers
comb['Letters'] = letters
print(comb)

{'Numbers': {1: 56, 3: 7}, 'Letters': {4: 'B'}}

In [39]:
test = {1:'A', 2:'B', 3:'C'}
test = {}
print(len(test))

0

In [40]:
import collections
a=collections.Counter([1,1,2,3,3,4,4,4])
a

Counter({1: 2, 2: 1, 3: 2, 4: 3})

In [42]:
class demo(dict):
      def __test__(self,key):
        return []
a = demo()
a['test'] = 7
print(a)

{'test': 7}

In [44]:
count={}
count[(1,2,4)] = 5
count[(4,2,1)] = 7
count[(1,2)] = 6
count[(4,2,1)] = 2
tot = 0
for i in count:
    tot=tot+count[i]
print(len(count)+tot)

16

In [55]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a[1][0])

2

In [56]:
 a={}
a.fromkeys([1,2,3],"check")

{1: 'check', 2: 'check', 3: 'check'}

In [57]:
b={}
all(b)

True

In [58]:
b={1:"A",2:"B"}
all(b)

True

In [2]:
word1 = "Apple"
word2 = "Apple"
list1 = [1,2,3]
list2 = [1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

In [3]:
a = list((45,)*4)
print((45)*4)
print(a)

180
[45, 45, 45, 45]

In [7]:
a = [14,52,7]
b = a.copy()
b is a

False

In [8]:
t = 32.00
[round((x-32)*5/9) for x in t]

TypeError: 'float' object is not iterable

In [9]:
A = 16
B = 15
A % B  // A

0

In [ ]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
 
    i = i + 1

In [ ]:
i = 1
while True:
    if i%3 == 0:
        continue
    print(i)
 
    i = i + 1

1
2

In [2]:
1 % 3

1

In [4]:
2 % 3

2

In [5]:
3 % 3

0

In [ ]:
4 % 3

In [1]:
1 % 3

1

In [4]:
1 % 7

1

In [5]:
2 % 7

2

In [6]:
3 % 7

3

In [7]:
4 % 7

4

In [8]:
5 % 7

5

In [9]:
6 % 7

6

In [10]:
7 % 7

0

In [11]:
9 % 11

9

In [12]:
i = 5
while True:
    if 5%0O11 == 0:
        break
    print(i)
    i += 1

5
6
7
8

In [13]:
 5%0O11

5

In [14]:
 6%0O11

6

In [15]:
 7%0O11

7

In [16]:
 8%0O11

8

In [17]:
 9%0O11

0

In [18]:
i = 5
while True:
    if i%0O9 == 0:
        break
    print(i)
    i += 1

SyntaxError: invalid token (<ipython-input-18-b1f12d63a158>, line 3)

In [ ]:
i = 1
while True:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [1]:
1 % 2

1

In [2]:
3 % 2

1

In [3]:
i = 2
while True:
    if i%3 == 0:
        break
    print(i)
    i += 2

2
4

In [4]:
4 % 3

1

In [5]:
6 % 3

0

In [9]:
x = ["abcdef"]
while i in x:
    print(i)

In [10]:
print(x)

['abcdef']

In [ ]:
x = "abcdefi"
i = "i"
while i in x:
    print(i, end=" ")

In [ ]:
x = "abcdef"
i = "a"
while i in x:
    print('i', end = " ")

In [2]:
1 / 16

0.0625

In [11]:
x = ["hello"]
x

['hello']

In [12]:
n = ['h','e','l','l','o']
len(n)

5

In [16]:
random.shuffleList(n)

NameError: name 'random' is not defined

In [17]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-1][-1])

n

In [18]:
list1 = [1,2,3]
list1 * 2

[1, 2, 3, 1, 2, 3]

In [20]:
names1 = ['Amir', 'Bala', 'Chales']

if 'Amir' in names1:
    print(1)
else:
    print(2)

1

In [22]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]
 
print(names2[0][2])

SyntaxError: invalid character in identifier (<ipython-input-22-02c034d127ed>, line 3)

In [33]:
numbers = [1,2,4,5]
numbers.append(120)
print(len(numbers))

5

In [34]:
[46,3,78,33,89,99,23]

[46, 3, 78, 33, 89, 99, 23]

In [35]:
x = 123
for i in x:
    print(i)

TypeError: 'int' object is not iterable